################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DosTerrainImporter/bin/Debug
/DosTerrainImporter/obj/Debug
